<p>If you have registered in the online store, click on the link to confirm</p>

<p><%= activationCode %></p>

<a href="<%= activationUri%>?email=<%= email %>&code=<%= activationCode %>">Change password</a>